.back{
    background-image:url("abc.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.btn{
    margin: 15px;
    height: 6vh;
    width: 15vh;
}
