.Loginbg {
    height: 100vh;
    width: 100%;
    background-color: #00dbde;
    background-image: linear-gradient(90deg, #3759df 0%, #d506c8 100%);
  }
  .Logincontainer {
    height: 90%;
    width: 85%;
    background-color: whitesmoke;
  }
  @media (max-width: 768px) {
      .Logincontainer {
        width: 90%;
      }
      .laptop{
          height: 75%;
          width: 75%;
      }
    }